@model Idea1.Models.Comment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Comment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Comment_text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment_text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment_like)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment_like)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment_dislike)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment_dislike)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Comment_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
